<!DOCTYPE html>
<html lang="ja">
<head>
  <style>
    * { padding: 0; margin: 0; }
    canvas { background: #eee; display: block; margin: 0 auto; }
  </style>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <title>Board Games</title>
</head>

<body>
  <!-- JavaScript Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

  <canvas id="game_canvas" width="600" height="600"></canvas>
  <script>
    var canvas = document.getElementById("game_canvas");
    var ctx    = canvas.getContext("2d");

    var radius = 20;
    var grid_size = 9;
    var board = new Array(grid_size);
    var base_position = 60;
    var board_size = base_position * (grid_size-1);

    function show_board() {
        ctx.beginPath();
        ctx.fillStyle = "GoldenRod";
        ctx.fillRect(base_position, base_position, board_size, board_size);
        ctx.closePath();

        for (var y = 0; y < grid_size; y++) {
            ctx.beginPath();
            ctx.moveTo(base_position,              base_position*(y+1));
            ctx.lineTo(base_position + board_size, base_position*(y+1));
            ctx.strokeStyle = "black";
            ctx.lineWidth = 2;
            ctx.stroke();
            ctx.closePath();
        }

        for (var x = 0; x < grid_size; x++) {
            ctx.beginPath();
            ctx.moveTo(base_position*(x+1), base_position);
            ctx.lineTo(base_position*(x+1), base_position + board_size);
            ctx.strokeStyle = "black";
            ctx.lineWidth = 2;
            ctx.stroke();
            ctx.closePath();
        }
    }

    function show_stones() {
        for (var y = 0; y < grid_size; y++) {
            for (var x = 0; x < grid_size; x++) {
                ctx.beginPath();
                ctx.arc(base_position*(x+1), base_position*(y+1), radius, 0, Math.PI*2, false);
                if (board[y][x] == 1) {
                    ctx.fillStyle="black";
                } else if (board[y][x] == -1){
                    ctx.fillStyle="white";
                    ctx.strokeStyle = "black";
                    ctx.stroke();
                }
                ctx.fill();
                ctx.closePath();
            }
        }
    }

    // For debug
    for (var x = 0; x < grid_size; x++) {
        board[x] = new Array(grid_size).fill(0);
    }
    for (var y = 0; y < grid_size; y++) {
        for (var x = 0; x < grid_size; x++) {
            if (y % 2 == 0) {
                board[y][x] = 1;
            } else {
                board[y][x] = -1;
            }
        }
    }

    show_board();
    show_stones();
  </script>

  <button class="btn btn-primary" type="submit">Start</button>

  <form method="POST">
    <div class="form-group">
      <p class="control-label"><b>x</b></p>
      <input type="radio" value=1 name="x" checked> 1
      <input type="radio" value=2 name="x"> 2
      <input type="radio" value=3 name="x"> 3
      <input type="radio" value=4 name="x"> 4
      <input type="radio" value=5 name="x"> 5
      <input type="radio" value=6 name="x"> 6
      <input type="radio" value=7 name="x"> 7
      <input type="radio" value=8 name="x"> 8
      <input type="radio" value=9 name="x"> 9
    </div>
    <div class="form-group">
      <p class="control-label"><b>y</b></p>
      <input type="radio" value=1 name="y" checked> 1
      <input type="radio" value=2 name="y"> 2
      <input type="radio" value=3 name="y"> 3
      <input type="radio" value=4 name="y"> 4
      <input type="radio" value=5 name="y"> 5
      <input type="radio" value=6 name="y"> 6
      <input type="radio" value=7 name="y"> 7
      <input type="radio" value=8 name="y"> 8
      <input type="radio" value=9 name="y"> 9
    </div>
    <input class="btn btn-primary" type="submit" value="Send">
  </form>
</body>

</html>
